@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Genre

<div>
    <h1>Genre Added!</h1>
    <div class="col-md-12">
        <a asp-action="List">Return To List</a>
    </div>
</div>